<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.4/vue.js"></script>

<div class="container">
    <button class="btn btn-success mt-5 mb-5"
        @click="addNewEmployeeForm">
        New Employee
    </button>

    <div class="card mb-3"
            v-for="(employee, index) in employees">
            <div class="card-body">
                <span class="float-right" style="cursor:pointer"
                    @click="deleteEmployeeForm(index)">
                    <b>Remove</b>
                </span>

                <h4 class="card-title">Add employee (index: {{ index }} )</h4>
                <div class="class">
                    <input type="text" class="form-control mb-2" placeholder="Name"
                        v-model="employee.name">
                    <input type="text" class="form-control mb-2" placeholder="Job"
                        v-model="employee.job">
                    <textarea class="form-control" cols="30" rows="10" placeholder="About"
                        v-model="employee.about"></textarea>
                </div>
            </div>
    </div>
</div>

<script>
    var app = new Vue({
        el: '.container',
        data:{ 
            employees: [
                {
                    name: '',
                    job: '',
                    about: ''
                }
            ]
        },
        methods: {
            addNewEmployeeForm () {
                this.employees.push({
                     name: '',
                    job: '',
                    about: ''
                })
            },
            deleteEmployeeForm(index){
                this.employees.splice(index, 1)
            }
        }
    })
</script>

